{% extends 'base.html.twig' %}

{% block title %}Дашборд{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="wrapper--block">
                    <div class="admin--title--wrapper">
                        <h2>Бот</h2>
                    </div>

                    <div class="">
                        {% if bot is empty %}
                            <div class="">
                                Данных нет
                            </div>
                        {% else %}
                            <div class="">
                                <div class="">ID: {{ bot.botId }}</div>
                                <div class="">Название бота: {{ bot.botName }}</div>
                                <div class="">
                                    <section>
                                        <span>Проект:</span> {{ bot.projectName }}
                                    </section>
                                    <section>
                                        <span>Состояние:</span>
                                        {% if bot.botActive is not empty %}
                                            <span style="font-weight: bold; color: rgba(0,191,3,0.54);">Активен</span>
                                        {% else %}
                                            <span style="font-weight: bold; color: rgba(191,29,0,0.54);">Не активен</span>
                                        {% endif %}
                                    </section>
                                    <section>
                                        <span>Тип:</span> {{ bot.botType }}
                                    </section>
                                    <section>
                                        <span>Токен:</span> {{ bot.botToken }}
                                    </section>
                                    <section>
                                        {% if bot.webhookUri is not empty %}
                                            <span>Вебхук:</span> {{ bot.webhookUri }}
                                        {% else %}
                                            <span>Вебхук:</span> <span style="font-weight: bold; color: rgba(191,29,0,0.54);">отсутствует</span>
                                        {% endif %}
                                    </section>
                                </div>

                                <hr>

                                <div class="">

                                    {% if bot.webhookInfo.pendingUpdateCount is not null %}
                                        <section>
                                            <span>Количество обновлений, ожидающих доставки:</span> {{ bot.webhookInfo.pendingUpdateCount }}
                                        </section>
                                    {% endif %}

                                    {% if bot.webhookInfo.lastErrorDate is not null %}
                                        <section class="">
                                            <span>Дата ошибки:</span> {{ bot.webhookInfo.lastErrorDate }}
                                        </section>
                                    {% endif %}

                                    {% if bot.webhookInfo.lastErrorMessage is not null %}
                                        <section class="">
                                            <span>Сообщение об ошибки:</span> {{ bot.webhookInfo.lastErrorMessage }}
                                        </section>
                                    {% endif %}
                                </div>

                                <hr>

                                <div class="">
                                    <div class="admin--title--wrapper">
                                        <h4>Действия</h4>
                                    </div>

                                    <div style="display: flex; flex-wrap: wrap;">
                                        <button type="button" class="btn btn-success admin--btn-left"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editWebhook">Установить вебхук
                                        </button>

                                        {% if bot.botActive is not empty %}
                                            <section>
                                                <a class="btn btn-danger admin--btn-left"
                                                   href="/dev/project/{{ bot.projectId }}/bot/{{ bot.botId }}/deactivate/">Отключить
                                                    бота</a>
                                            </section>
                                        {% else %}
                                            <section>
                                                <a class="btn btn-success admin--btn-left"
                                                   href="/dev/project/{{ bot.projectId }}/bot/{{ bot.botId }}/activate/">Включить
                                                    бота</a>
                                            </section>
                                        {% endif %}

                                        <button type="button" class="btn btn-success admin--btn-left"
                                                data-bs-toggle="modal"
                                                data-bs-target="#sendMessage">
                                            Отправить сообщение
                                        </button>
                                    </div>

                                    <!-- MODAL -- Установить фебхук -->
                                    <div class="modal fade" id="editWebhook" data-bs-keyboard="false" tabindex="-1"
                                         aria-labelledby="editWebhookLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editWebhookLabel">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">
                                                    <form action="/dev/project/{{ bot.projectId }}/bot/{{ bot.botId }}/webhook/activate/"
                                                          method="POST">
                                                        <div class="mb-3">
                                                            <label for="webhook" class="col-form-label">Ссылка:</label>
                                                            <input type="text" class="form-control" name="webhook"
                                                                   placeholder="Установить фебхук" id="webhook">
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary">Сохранить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- MODAL -- Установить фебхук -->

                                    <!-- MODAL -- Отправить новое сообщение -->
                                    <div class="modal fade" id="sendMessage" data-bs-keyboard="false" tabindex="-1"
                                         aria-labelledby="sendMessageLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="sendMessageLabel">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">
                                                    <form action="/dev/project/{{ bot.projectId }}/bot/{{ bot.botId }}/fake_message/"
                                                          method="POST">
                                                        <div class="mb-3">
                                                            <label for="message" class="col-form-label">Текст
                                                                сообщения:</label>
                                                            <textarea class="form-control" id="message" name="message"
                                                                      placeholder="Текст сообщения"></textarea>
                                                        </div>
                                                        <button class="btn btn-primary">Отправить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- MODAL -- Отправить новое сообщение -->
                                </div>

                                <hr>

                                <div class="admin--title--wrapper">
                                    <h4>Сценарии</h4>
                                </div>

                                <form method="POST"
                                      action="/dev/project/{{ projectId }}/bot/{{ bot.botId }}/apply-scenario/">
                                    <div class="mb-3">
                                        <label for="scenario" class="col-form-label">Установить сценарий:</label>
                                        <select class="form-select" name="scenario" id="scenario">
                                            {% for scenarioItem in scenarios %}
                                                <option value="{{ scenarioItem.id }}">{{ scenarioItem.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <button class="btn btn-primary">Установить</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="wrapper--block">
                    <div class="admin--title--wrapper">
                        <h2>Сессии</h2>
                    </div>

                    <div class="">
                        {% if sessions is empty %}
                            <div class="">
                                Данных нет
                            </div>
                        {% endif %}

                        {% for session in sessions %}
                            <hr>

                            <div class="">
                                <div class="">
                                    <div class="admin--title--wrapper">
                                        <h4>Имя: {{ session.sessionName }}</h4>
                                    </div>

                                    <section>
                                        <span>Канал:</span> {{ session.sessionChannel }}
                                    </section>

                                    <section>
                                        <span>Последний контент:</span> {{ session.cache.content }}
                                    </section>

                                    <br>

                                    <a href="/admin/projects/{{ projectId }}/sessions/{{ session.id }}/"
                                       class="btn btn-success admin--btn-left">
                                        Перейти к сессии
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
