{% extends '@EasyAdmin/page/content.html.twig' %}


{% block content_title %}Dashboard{% endblock %}
{% block page_actions %}
    {% for command in commands %}
        <a class="btn btn-primary" href="/dev/project/{{ projectId }}/command/{{ command.commandCode }}/start/">
            {{ command.commandName }}
        </a>
    {% endfor %}
{% endblock %}

{% block main %}
    <br>

    <div class="jj__main_wrapper jj__main_wrapper--line">
        <div class="jj__wrapper jj__wrapper-50 jj__wrapper-h-auto">

            <div class="messenger-wr">
                <div class="messenger-block" id="scroll">
                    {% for message in messages %}
                        <div class="messenger-message {% if message.type == 'outgoing' %} messenger-message--outgoing {% endif %}">
                            {% if message.images is not empty %}
                                {% if message.images.0.uri is not empty %}
                                    <div class="messenger-message-image"
                                         style="background: url('{{ message.images.0.uri }}') center center; background-size: cover;"></div>
                                {% endif %}
                            {% endif %}

                            <div class="messenger-message-text">
                                <p>
                                    {{ message.message }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <script>
                    let scroll = document.getElementById("scroll");
                    scroll.scrollTop = scroll.scrollHeight;
                </script>

                <div style="height: max-content; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; flex: 0 0 auto; background: #30383b; padding: 10px">
                    <section style="width: 100%; display: flex; margin-bottom: 15px; padding-bottom: 15px; border-bottom: solid 1px #aaa">
                        <form style="width: 100%; display:flex;"
                              action="/dev/project/{{ projectId }}/bot/10/fake_message/" method="POST">
                            <label style="width: 100%;">
                                <input class="messenger-nav--input" type="text" placeholder="Текст сообщения" name="message">
                            </label>
                            <button class="messenger-nav--input-btn">
                                Отправить
                            </button>
                        </form>
                    </section>

                    {% set keyboards = messages|last.keyboard %}

                    {% for keyboard in keyboards %}
                        {% for keyboard_sub in keyboard %}
                            <form action="/dev/project/{{ projectId }}/bot/10/fake_message/" method="POST">
                                <label>
                                    <input hidden="hidden" type="text" name="message" value="{{ keyboard_sub.text }}">
                                </label>
                                <button class="messenger-nav">
                                    {{ keyboard_sub.text }}
                                </button>
                            </form>
                        {% endfor %}
                        <div style="width: 100%;"></div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# -------------------------------------------------------------------------------------------------------- #}
        {# ------------------------------------------------События------------------------------------------------- #}
        {# -------------------------------------------------------------------------------------------------------- #}
        <div class="jj__wrapper jj__wrapper-50">
            <div class="jj__h">
                <h2>События</h2>
            </div>

            <div class="jj__items">
                {% if events is empty %}
                    <div class="jj__items-without-data">
                        Данных нет
                    </div>
                {% endif %}

                {% for event in events %}
                    <div class="jj__item">
                        <div class="jj__item_name">Событие #{{ event.id }}</div>

                        <div class="jj__item_data">
                            <section>
                                <span>Тип события:</span> {{ event.type }}
                            </section>

                            <section>
                                <span>Статус события:</span>
                                {% if event.status == 'fail' %}
                                    <span class="jj__color-red"> Провалено </span>
                                    <a class="jj__a-inline"
                                       href="/dev/project/{{ projectId }}/event/{{ event.id }}/restart/">Перезапустить</a>
                                {% elseif event.status == 'done' %}
                                    <span class="jj__color-green"> Успешно </span>
                                {% elseif event.status == 'new' %}
                                    <span class="jj__color-blue"> Новое </span>
                                {% elseif event.status == 'await' %}
                                    <span class="jj__color-yellow"> Ожидает действий пользователя </span>
                                {% else %}
                                    {{ event.status }}
                                {% endif %}
                            </section>

                            {% if event.chains is not null %}
                                {% if event.chains is not empty %}
                                    <br>
                                    <section style="padding: 10px; background: #ced6ea;">
                                        Шаги:
                                        <ul>
                                            {% for chain in event.chains %}
                                                <li>
                                                    {% if chain.status == 1 %}
                                                        <span class="jj__color-green">Пройдено</span>
                                                    {% else %}
                                                        <span class="jj__color-red">Не пройдено</span>
                                                    {% endif %}

                                                    {{ chain.name }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </section>
                                {% endif %}
                            {% endif %}

                            {% if event.error is not null %}
                                <section class="jj__color-red">
                                    <span>Последняя ошибка:</span> {{ event.error }}
                                </section>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="jj__main_wrapper jj__main_wrapper--line">

        {# -------------------------------------------------------------------------------------------------------- #}
        {# -------------------------------------------------Сессии------------------------------------------------- #}
        {# -------------------------------------------------------------------------------------------------------- #}
        <div class="jj__wrapper jj__wrapper-50 jj__wrapper-h-auto">
            <div class="jj__h">
                <h2>Сессии</h2>
            </div>

            <div class="jj__items">
                {% if sessions is empty %}
                    <div class="jj__items-without-data">
                        Данных нет
                    </div>
                {% endif %}

                {% for session in sessions %}
                    <div class="jj__item">
                        <div class="jj__item_name">Название сессии: {{ session.sessionName }}</div>

                        <div class="jj__item_data">
                            <section>
                                <span>Канал:</span> {{ session.sessionChannel }}
                            </section>
                            <section style="font-weight: bold; color: #ca0a9d;">
                                <span>Контент:</span> {{ session.cache.content }}
                            </section>

                            {% if session.sessionVisitorEvent is defined %}
                                <section>
                                    <span>Тип события:</span> {{ session.sessionVisitorEvent.type }}
                                </section>
                                <section>
                                    <span>Статус последнего события:</span> {{ session.sessionVisitorEvent.status }}
                                </section>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {# -------------------------------------------------------------------------------------------------------- #}
        {# --------------------------------------------------Боты-------------------------------------------------- #}
        {# -------------------------------------------------------------------------------------------------------- #}
        <div class="jj__wrapper jj__wrapper-50">
            <div class="jj__h">
                <h2>Боты</h2>
            </div>

            <div class="jj__items">
                {% if bots is empty %}
                    <div class="jj__items-without-data">
                        Данных нет
                    </div>
                {% endif %}

                {% for bot in bots %}
                    <div class="jj__item">
                        <div class="jj__item_name">Название бота: {{ bot.botName }}</div>

                        <div class="jj__item_data">
                            <section>
                                <span>Проект:</span> {{ bot.projectName }}
                            </section>
                            <section>
                                <span>Состояние:</span>
                                {% if bot.botActive is not empty %}
                                    <span class="jj__color-green">Активен</span>
                                {% else %}
                                    <span class="jj__color-red">Не активен</span>
                                {% endif %}
                            </section>
                            <section>
                                <span>Тип:</span> {{ bot.botType }}
                            </section>
                            <section>
                                <span>Токен:</span> {{ bot.botToken }}
                            </section>
                            <section>
                                <span>Вебхук:</span> {{ bot.webhookUri }}
                            </section>

                            <hr>

                            {% if bot.webhookInfo.pendingUpdateCount is not null %}
                                <section>
                                    <span>Количество обновлений, ожидающих доставки:</span> {{ bot.webhookInfo.pendingUpdateCount }}
                                </section>
                            {% endif %}

                            {% if bot.webhookInfo.lastErrorDate is not null %}
                                <section class="jj__color-red">
                                    <span>Дата ошибки:</span> {{ bot.webhookInfo.lastErrorDate }}
                                </section>
                            {% endif %}

                            {% if bot.webhookInfo.lastErrorMessage is not null %}
                                <section class="jj__color-red">
                                    <span>Сообщение об ошибки:</span> {{ bot.webhookInfo.lastErrorMessage }}
                                </section>
                            {% endif %}
                        </div>
                        <div class="jj__item_data jj__item_data--line">
                            <section>
                                <a href="/dev/project/{{ projectId }}/bot/{{ bot.botId }}/webhook/activate/">установить
                                    вебхук</a>
                            </section>

                            {% if bot.botActive is not empty %}
                                <section>
                                    <a href="/dev/project/{{ projectId }}/bot/{{ bot.botId }}/deactivate/">Отключить
                                        бота</a>
                                </section>
                            {% else %}
                                <section>
                                    <a href="/dev/project/{{ projectId }}/bot/{{ bot.botId }}/activate/">Включить
                                        бота</a>
                                </section>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="jj__main_wrapper jj__main_wrapper--line">
        <div class="jj__wrapper jj__wrapper-h-auto">
            <div class="jj__h">
                <h2>Расшифровка сессии</h2>
            </div>

            {% for botStep in botSteps %}
                <ul class="event-progress_wr">

                    {% if botStep.status is not empty %}
                        {% if botStep.status == 'await' %}
                            await
                        {% endif %}
                    {% endif %}


                    <li class="event-progress_event" data-title="{{ botStep.name }}">
                        <p>{{ botStep.name }}</p>


                        {% if botStep.sub is not empty %}
                            <ul class="event-progress_wr">
                                {% for botStep1 in botStep.sub %}

                                    {% if botStep1.status is not empty %}
                                        {% if botStep1.status == 'await' %}
                                        <li class="event-progress_event await" data-title="{{ botStep1.name }}">
                                        {% else %}
                                            <li class="event-progress_event" data-title="{{ botStep1.name }}">
                                        {% endif %}
                                    {% else %}
                                        <li class="event-progress_event" data-title="{{ botStep1.name }}">
                                    {% endif %}

                                    <p>{{ botStep1.name }}</p>

                                    {% if botStep1.sub is not empty %}
                                        <ul class="event-progress_wr">
                                            {% for botStep2 in botStep1.sub %}
                                                <li class="event-progress_event" data-title="{{ botStep2.name }}">
                                                    <p>{{ botStep2.name }}</p>
                                                </li>

                                                {% if botStep2.status is not empty %}
                                                    {% if botStep2.status == 'await' %}
                                                        await
                                                    {% endif %}
                                                {% endif %}


                                                {% if botStep2.chain is not empty %}
                                                    <ul class="event-progress_event-chain-wr">
                                                        {% for botsub3 in botStep2.chain %}
                                                            {% if botsub3.finish == 'true' %}
                                                                <li class="event-progress_event-chain success"
                                                                    data-title="{{ botsub3.target }}">
                                                                    <p>{{ botsub3.target }}</p>
                                                                </li>
                                                            {% else %}
                                                                <li class="event-progress_event-chain"
                                                                    data-title="{{ botsub3.target }}">
                                                                    <p>{{ botsub3.target }}</p>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    {% if botStep1.chain is not empty %}
                                        <ul class="event-progress_event-chain-wr">
                                            {% for botsub2 in botStep1.chain %}
                                                {% if botsub2.finish == 'true' %}
                                                    <li class="event-progress_event-chain success"
                                                        data-title="{{ botsub2.target }}">
                                                        <p>{{ botsub2.target }}</p>
                                                    </li>
                                                {% else %}
                                                    <li class="event-progress_event-chain"
                                                        data-title="{{ botsub2.target }}">
                                                        <p>{{ botsub2.target }}</p>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}


                        {% if botStep.chain is not empty %}
                            <ul class="event-progress_event-chain-wr">
                                {% for botsub1 in botStep.chain %}
                                    {% if botsub1.finish == 'true' %}
                                        <li class="event-progress_event-chain success"
                                            data-title="{{ botsub1.target }}">
                                            <p>{{ botsub1.target }}</p>
                                        </li>
                                    {% else %}
                                        <li class="event-progress_event-chain"
                                            data-title="{{ botsub1.target }}">
                                            <p>{{ botsub1.target }}</p>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                </ul>
            {% endfor %}

            <br>
            <br>

        </div>
    </div>

    <div class="jj__main_wrapper jj__main_wrapper--line">

        {# -------------------------------------------------------------------------------------------------------- #}
        {# ------------------------------------------------Истории------------------------------------------------- #}
        {# -------------------------------------------------------------------------------------------------------- #}
        <div class="jj__wrapper jj__wrapper-50" id="history__wrapper">
            <div class="jj__h">
                <h2>Истории</h2>
            </div>

            <div class="jj__items">
                {% if histories is empty %}
                    <div class="jj__items-without-data">
                        Данных нет
                    </div>
                {% endif %}

                {% for historyItem in histories %}
                    <div class="jj__item
                        {% if historyItem.status == 'error' %}
                            jj__border-status--fail
                        {% elseif historyItem.status == 'success' %}
                            jj__border-status--success
                        {% endif %}
                        ">
                        <div class="jj__item_name">{{ historyItem.createdAt|date('Y-m-d h:i:s') }}</div>

                        <div class="jj__item_data jj__item_data--line">
                            <section class="jj__item_field--history-status">
                                <span>Статус:</span>
                                {% if historyItem.status == 'error' %}
                                    <span class="jj__color-red"> Провалено </span>
                                {% elseif historyItem.status == 'success' %}
                                    <span class="jj__color-green"> Успешно </span>
                                {% endif %}
                            </section>
                            <section class="jj__item_field--history-type">
                                <span>Тип:</span> {{ historyItem.type }}
                            </section>
                            {% if historyItem.sender is defined %}
                                {% if historyItem.sender.name is not null %}
                                    <section class="jj__icon-soc--wrapper jj__item_field--history-sender">
                                        <span>Откуда:</span> {{ historyItem.sender.name }} <img class="jj__icon-soc"
                                                                                                src="{{ historyItem.sender.icon }}"
                                                                                                alt="{{ historyItem.sender.name }}">
                                    </section>
                                {% endif %}
                            {% endif %}

                            {% if historyItem.recipient is defined %}
                                {% if historyItem.recipient.name is not null %}
                                    <section class="jj__icon-soc--wrapper jj__item_field--history-recipient">
                                        <span>Куда:</span> {{ historyItem.recipient.name }} <img class="jj__icon-soc"
                                                                                                 src="{{ historyItem.recipient.icon }}"
                                                                                                 alt="{{ historyItem.recipient.name }}">
                                    </section>
                                {% endif %}
                            {% endif %}

                            {% if historyItem.errorMessage is defined %}
                                <section class="jj__item_field--history-error">
                                    <span>Контекст ошибки:</span> {{ historyItem.errorMessage }}
                                </section>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {# -------------------------------------------------------------------------------------------------------- #}
        {# -------------------------------------------------нарии-------------------------------------------------- #}
        {# -------------------------------------------------------------------------------------------------------- #}
        <div class="jj__wrapper jj__wrapper-50">
            <div class="jj__h">
                <h2>Сценарии</h2>
            </div>

            <div class="jj__items">
                {% if scenario is empty %}
                    <div class="jj__items-without-data">
                        Данных нет
                    </div>
                {% endif %}

                {% for scenarioItem in scenario %}
                    <div class="jj__item">
                        <div class="jj__item_name">Сценарий #{{ scenarioItem.id }}</div>

                        <div class="jj__item_data jj__item_data--line">
                            <section>
                                <span>Название:</span> {{ scenarioItem.name }}
                            </section>
                        </div>

                        <div class="jj__item_data jj__item_data--line">
                            <section>
                                <form action="/dev/project/{{ projectId }}/scenario/{{ scenarioItem.id }}/apply/"
                                      method="GET">
                                    <label>
                                        Подключить бот:
                                        <select name="botId">
                                            {% for bot in bots %}
                                                <option value="{{ bot.botId }}">{{ bot.botName }}</option>
                                            {% endfor %}
                                        </select>
                                        к сценарию
                                    </label>

                                    <button>
                                        Подключить
                                    </button>
                                </form>
                            </section>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
