{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_actions %}
    {% if session is not empty %}
        <div class="jj__item" style="display:flex;">
            <div class="jj__item_name" style="margin-right: 20px;">Название сессии: {{ session.sessionName }}</div>

            <div class="jj__item_data">
                <section style="font-weight: bold; color: #ca0a9d;">
                    <span>Контент:</span> {{ session.cache.content }}
                </section>
            </div>
        </div>
    {% endif %}

    {% for command in commands %}
        <a class="btn btn-primary"
           href="/dev/project/{{ projectId }}/command/{{ command.commandCode }}/start/{{ session.id }}">
            {{ command.commandName }}
        </a>
    {% endfor %}
{% endblock %}

{% block main %}
    <div class="jj__main_wrapper jj__main_wrapper--line">
        <div class="jj__wrapper jj__wrapper-50 jj__wrapper-h-auto">
            <div class="messenger-wr">
                <div class="messenger-block" id="scroll">
                    {% for message in messages %}
                        <div class="messenger-message {% if message.type == 'outgoing' %} messenger-message--outgoing {% endif %}">
                            {% if message.images is not empty %}
                                {% if message.images.0.uri is not empty %}
                                    <div class="messenger-message-image"
                                         style="background: url('{{ message.images.0.uri }}') center center; background-size: cover;"></div>
                                {% endif %}
                            {% endif %}

                            <div class="messenger-message-text">
                                <p>{{ message.message }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <script>
                    let scroll = document.getElementById("scroll");
                    scroll.scrollTop = scroll.scrollHeight;
                </script>

                <div style="height: max-content; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; flex: 0 0 auto; background: #30383b; padding: 10px">
                    <section
                            style="width: 100%; display: flex; margin-bottom: 15px; padding-bottom: 15px; border-bottom: solid 1px #aaa">
                        <form style="width: 100%; display:flex;"
                              action="/dev/project/{{ projectId }}/bot/{{ botId }}/fake_message/" method="POST">
                            <label style="width: 100%;">
                                <input class="messenger-nav--input" type="text" placeholder="Текст сообщения"
                                       name="message">
                            </label>
                            <button class="messenger-nav--input-btn">
                                Отправить
                            </button>
                        </form>
                    </section>

                    {% if messages is not empty %}
                        {% set keyboards = messages|last.keyboard %}

                        {% for keyboard in keyboards %}
                            <div style="display: flex; width: 100%;">
                                {% for keyboard_sub in keyboard %}
                                    <form style="width: 100%; margin: 5px;"
                                          action="/dev/project/{{ projectId }}/bot/{{ botId }}/fake_message/"
                                          method="POST">
                                        <label style="display:none;">
                                            <input hidden="hidden" type="text" name="message"
                                                   value="{{ keyboard_sub.text }}">
                                        </label>
                                        <button class="messenger-nav" style="height: 100%; width: 100%;">
                                            {{ keyboard_sub.text }}
                                        </button>
                                    </form>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        {# -------------------------------------------------------------------------------------------------------- #}
        {# ------------------------------------------------События------------------------------------------------- #}
        {# -------------------------------------------------------------------------------------------------------- #}
        <div class="jj__wrapper jj__wrapper-50">
            <div class="jj__h">
                <h2>События</h2>
            </div>

            <div class="jj__items">
                {% if events is empty %}
                    <div class="jj__items-without-data">
                        Данных нет
                    </div>
                {% endif %}

                {% for event in events %}
                    <div class="jj__item">
                        <div class="jj__item_name">Событие #{{ event.id }}</div>

                        <div class="jj__item_data">
                            <section>
                                <span>Тип события:</span> {{ event.type }}
                            </section>

                            <section>
                                <span>Статус события:</span>
                                {% if event.status == 'failed' %}
                                    <span class="jj__color-red"> Провалено </span>
                                    <a class="jj__a-inline"
                                       href="/dev/project/{{ projectId }}/event/{{ event.id }}/restart/">Перезапустить</a>
                                {% elseif event.status == 'done' %}
                                    <span class="jj__color-green"> Успешно </span>
                                {% elseif event.status == 'new' %}
                                    <span class="jj__color-blue"> Новое </span>
                                {% elseif event.status == 'await' %}
                                    <span class="jj__color-yellow"> Ожидает действий пользователя </span>
                                {% else %}
                                    {{ event.status }}
                                {% endif %}
                            </section>

                            {% if event.chains is not null %}
                                {% if event.chains is not empty %}
                                    <br>
                                    <section style="padding: 10px; background: #ced6ea;">
                                        Шаги:
                                        <ul>
                                            {% for chain in event.chains %}
                                                <li>
                                                    {% if chain.status == 1 %}
                                                        <span class="jj__color-green">Пройдено</span>
                                                    {% else %}
                                                        <span class="jj__color-red">Не пройдено</span>
                                                    {% endif %}

                                                    {{ chain.name }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </section>
                                {% endif %}
                            {% endif %}

                            {% if event.error is not null %}
                                <section class="jj__color-red">
                                    <span>Последняя ошибка:</span> {{ event.error }}
                                </section>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if event is not empty %}
        {{ event.contract|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}
    {% endif %}

    <br>
    <br>

    <div>
        {% for deal in deals %}
            <div style="border-radius: 15px; padding: 10px 0; background: #f6f6f6; font-size: 16px; display: flex; flex-wrap: wrap; margin-bottom: 20px;">
                <div style="padding: 10px 20px; width: 100%; font-weight: bold;">
                    сделка # {{ deal.id }}
                </div>

                <div style="padding: 10px 20px; margin: 10px; background: #fff; border-radius: 15px;">
                    <div style="padding: 10px 0; font-weight: bold;">
                        Контакты:
                    </div>

                    {% for key, contact in deal.contacts %}
                        <div style="width: 100%;">
                            {{ key }}:
                            {% if contact is not empty %}
                                {{ contact }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div style="padding: 10px 20px; margin: 10px; background: #fff; border-radius: 15px;">
                    <div style="padding: 10px 0; font-weight: bold;">
                        Продукты:
                    </div>
                    <div>
                        {% for key, product in deal.order.products %}
                            <div>
                                <span style="padding-right: 20px;">variantParentId: {{ product.variantParentId }}</span>
                                <span style="padding-right: 20px;">name: {{ product.name }}</span>
                                <span style="padding-right: 20px;">count: {{ product.count }}</span>
                                <span style="padding-right: 20px;">price: {{ product.price }}</span>
                            </div>
                        {% endfor %}
                        <span style="color: #aa1111;">total amount: {{ deal.order.totalAmount }}</span>
                    </div>
                </div>

                <div style="padding: 10px 20px; margin: 10px; background: #fff; border-radius: 15px;">
                    <div style="padding: 10px 0; font-weight: bold;">
                        Доставка:
                    </div>
                    <div>
                        {% for key, shippingAddress in deal.order.shipping.address %}
                            <div>
                                {{ key }}:
                                {{ shippingAddress }}
                            </div>
                        {% endfor %}
                        <span style="color: #aa1111;">shipping type: {{ deal.order.shipping.type }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
