{% extends 'base.html.twig' %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="messenger-wr">
                    <div class="messenger-block" id="scroll">
                        {% for message in messages %}
                            <div class="messenger-message {% if message.type == 'incoming' %} messenger-message--incoming {% endif %}">
                                {% if message.images is not empty %}
                                    {% if message.images.0.uri is not empty %}
                                        <div class="messenger-message-image"
                                             style="background: url('{{ message.images.0.uri }}') center center; background-size: cover;"></div>
                                    {% endif %}
                                {% endif %}

                                <div class="messenger-message-text">
                                    <p>{{ message.message }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <script>
                        let scroll = document.getElementById("scroll");
                        scroll.scrollTop = scroll.scrollHeight;
                    </script>

                    <div style="height: max-content; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; flex: 0 0 auto; background: #f7f7f7; padding: 10px">
                        <section
                                style="width: 100%; display: flex; margin-bottom: 15px; padding-bottom: 15px; border-bottom: solid 1px #aaa">
                            <form style="width: 100%; display:flex;"
                                  action="/dev/project/{{ projectId }}/bot/{{ botId }}/fake_message/"
                                  method="POST">
                                <label style="width: 100%;">
                                    <input class="messenger-nav--input" type="text"
                                           placeholder="Текст сообщения"
                                           name="message">
                                </label>
                                <button class="messenger-nav--input-btn">
                                    Отправить
                                </button>
                            </form>
                        </section>

                        {% if messages is not empty %}
                            {% set keyboards = messages|last.keyboard %}

                            {% for keyboard in keyboards %}
                                <div style="display: flex; width: 100%;">
                                    {% for keyboard_sub in keyboard %}
                                        <form style="width: 100%; margin: 5px;"
                                              action="/dev/project/{{ projectId }}/bot/{{ botId }}/fake_message/"
                                              method="POST">
                                            <label style="display:none;">
                                                <input hidden="hidden" type="text" name="message"
                                                       value="{{ keyboard_sub.text }}">
                                            </label>
                                            <button class="messenger-nav" style="height: 100%; width: 100%;">
                                                {{ keyboard_sub.text }}
                                            </button>
                                        </form>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-7">
                <div class="wrapper--block">
                    <div class="admin--title--wrapper">
                        <h2>События</h2>
                    </div>

                    <div class="" style="height: 500px; overflow: auto; word-wrap: break-word;">
                        {% if events is empty %}
                            <div class="">
                                Данных нет
                            </div>
                        {% endif %}

                        {% for event in events %}
                            <div class=""
                                    {% if event.status == 'failed' %}
                                        style="padding: 20px; background: #ffd4d4; margin-bottom: 3px; border-radius: 9px;"
                                    {% elseif event.status == 'done' %}
                                        style="padding: 20px; background: #d7ffd4; margin-bottom: 3px; border-radius: 9px;"
                                    {% elseif event.status == 'new' %}
                                        style="padding: 20px; background: #d4e2ff; margin-bottom: 3px; border-radius: 9px;"
                                    {% elseif event.status == 'waiting' %}
                                        style="padding: 20px; background: #ecd4ff; margin-bottom: 3px; border-radius: 9px;"
                                    {% elseif event.status == 'repeat' %}
                                        style="padding: 20px; background: #ecd4ff; margin-bottom: 2px;"
                                    {% else %}
                                        style="padding: 20px; margin-bottom: 2px;"
                                    {% endif %}
                            >
                                <div>Событие #{{ event.id }} <span style="cursor: pointer; background: #f8f8f8; padding: 3px 8px; border-radius: 10px; box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);">подробнее</span></div>

                                <div>
                                    <section>
                                        <span>Тип события:</span> {{ event.type }}
                                    </section>

                                    <section>
                                        <span>Статус события:</span>
                                        {% if event.status == 'failed' %}
                                            <span class=""> Провалено </span>
                                        {% elseif event.status == 'done' %}
                                            <span class=""> Успешно </span>
                                        {% elseif event.status == 'new' %}
                                            <span class=""> Новое </span>
                                        {% elseif event.status == 'waiting' %}
                                            <span class=""> Ожидает действий пользователя </span>
                                        {% else %}
                                            {{ event.status }}
                                        {% endif %}
                                    </section>
                                    {% if event.status == 'waiting' or event.status == 'new' %}

                                        {% if event.contract is not null %}
                                            {% if event.contract is not empty %}
                                                {% if event.contract.chains is not null %}
                                                    {% if event.contract.chains is not empty %}
                                                        <section>
                                                            <span style="font-weight: 500">Цепочка:</span>
                                                            <ul>
                                                                {% for chain in event.contract.chains %}
                                                                    <li>
                                                                        {% if chain.status == 1 %}
                                                                            <span class="" style="color: #0abe2e;">Пройдено</span>
                                                                        {% else %}
                                                                            <span class="" style="color: #be0a0a;">Не пройдено</span>
                                                                        {% endif %}

                                                                        {{ chain.name.value }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </section>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                    {% if event.error is not null %}
                                        <section class="">
                                            <span>Последняя ошибка:</span> {{ event.error }}
                                        </section>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper--block">
                    <div class="admin--title--wrapper">
                        <h2>Прошлый контракт</h2>
                    </div>

                    {% if contract.chains is not empty %}
                        {% for action in contract.chains %}
                            {% if action.finished == 'true' %}
                                <li class="action-item action-item--brake">{{ action.target }}</li>
                            {% else %}
                                <li class="action-item">{{ action.target }}</li>
                            {% endif %}

                        {% endfor %}
                    {% endif %}

                    {% if contract.message is empty %}
                        <div>Нету сообщения</div>
                    {% else %}
                        {{ contract.message }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
